<?xml version='1.0' encoding='utf-8'?>
<feeds>
    <feed update="20190302015042">
        <title>路透时事要闻-全文</title>
        <url>http://cn.reuters.com/rssFeed/CNTopGenNews/</url>
        <parser>ReutersParser</parser>
    </feed>
    <feed update="20190302013247">
        <title>路透深度分析-全文</title>
        <url>http://cn.reuters.com/rssFeed/CNAnalysesNews/</url>
        <parser>ReutersParser</parser>
        <keywords>
            <keyword>路透早报</keyword>
            <keyword>路透晚报</keyword>
        </keywords>
    </feed>
    <feed update="20190301030212">
        <title>FT一周十大热门文章-全文</title>
        <url>http://www.ftchinese.com/rss/hotstoryby7day</url>
        <parser>FTParser</parser>
    </feed>
    <feed update="20190301041937">
        <title>纽约时报国际纵览-全文</title>
        <name>NytIntNews</name>
        <url>https://cn.nytimes.com/rss.html</url>
        <parser>NYTParser</parser>
        <blacklist>
            <blackItem>简报</blackItem>
        </blacklist>
    </feed>
    <feed update="20190303020700">
        <title>澎湃新闻</title>
        <name>PengpaiNews</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiParser</parser>
    </feed>
    <feed update="20190303035600">
        <title>观察者网</title>
        <name>GuanchaNews</name>
        <url>https://m.guancha.cn/</url>
        <parser>GuanchaParser</parser>
    </feed>
    <feed update="20190300040900">
        <title>喷嚏图卦</title>
        <name>PentiNews</name>
        <url>http://www.dapenti.com/blog/blog.asp?subjectid=70&amp;name=xilei</url>
        <parser>PentiParser</parser>
    </feed>
</feeds>
