<?xml version='1.0' encoding='utf-8'?>
<feeds>
     <feed update="20220610230128">
        <title>华尔街见闻早餐FM-Radio</title>
        <url>https://api-one.wallstcn.com/apiv1/search/article?query=华尔街见闻早餐FM-Radio&amp;limit=3</url>
        <name>WallStreetCnFmRadio</name>
        <parser>WallStreetCnRadioParser</parser>
        <keywords>
            <keyword>华尔街见闻早餐</keyword>
        </keywords>
    </feed>
    <feed update="20211015113128">
        <title>FT一周十大热门文章-全文</title>
        <url>http://www.ftchinese.com/rss/hotstoryby7day</url>
        <name>hotstoryby7day</name>
        <parser>FTParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20211018232746">
        <title>FT今日焦点-全文</title>
        <name>FtFocusNews</name>
        <url>http://www.ftchinese.com/rss/news</url>
        <parser>FTParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20210809031927">
        <title>纽约时报国际纵览-全文</title>
        <name>NytIntNews</name>
        <url>https://cn.nytimes.com/rss.html</url>
        <parser>NYTParser</parser>
        <enableStatus>False</enableStatus>
        <blacklist>
            <blackItem>简报</blackItem>
        </blacklist>
    </feed>
    <feed update="20210809043553">
        <title>BBC China News-全文</title>
        <name>BbcChinaNews</name>
        <url>http://feeds.bbci.co.uk/news/world/asia/china/rss.xml</url>
        <parser>BbcParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20201104093200">
        <title>观察者网</title>
        <name>GuanchaNews</name>
        <url>https://m.guancha.cn/</url>
        <parser>GuanchaParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20220610000000">
        <title>喷嚏图卦</title>
        <name>PentiNews</name>
        <url>http://www.dapenti.com/blog/blog.asp?subjectid=70&amp;name=xilei</url>
        <parser>PentiParser</parser>
    </feed>
    <feed update="20220610005524">
        <title>爱范儿-早报</title>
        <name>IfanrNews</name>
        <url>https://sso.ifanr.com/api/v5/wp/article/?post_category=%E6%97%A9%E6%8A%A5</url>
        <parser>IfanrParser</parser>
    </feed>
    <feed update="20220611000000">
        <title>都市快报-杭州新闻</title>
        <name>DskbNews</name>
        <url>http://mdaily.hangzhou.com.cn/dskb/index.html</url>
        <parser>DskbParser</parser>
        <blacklist>
            <blackItem>广告</blackItem>
            <blackItem>中国体育彩票</blackItem>
            <blackItem>福彩</blackItem>
        </blacklist>
    </feed>
    <feed update="20200109000000">
        <title>微历史</title>
        <name>MicroHistory</name>
	    <url>https://botanwang.com/taxonomy/term/11792</url>
        <parser>MicroHistoryParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20210808000000">
        <title>新闻联播</title>
        <name>CctvNews</name>
	    <url>https://cn.govopendata.com/xinwenlianbo/</url>
        <parser>CctvNewsParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20220611005100">
        <title>澎湃新闻</title>
        <name>PengpaiNews</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiParser</parser>
        <enableStatus>True</enableStatus>
        <blacklist>
            <blackItem>习惯的养成</blackItem>
            <blackItem>H5</blackItem>
            <blackItem>逝世</blackItem>
            <blackItem>去世</blackItem>
        </blacklist>
        <subPageList>
            <subPage>list_25600</subPage>
        </subPageList>
    </feed>
    <feed update="20220611015400">
        <title>澎湃评论</title>
        <name>PengpaiComments</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiParser</parser>
        <blacklist>
            <blackItem>习惯的养成</blackItem>
            <blackItem>H5</blackItem>
        </blacklist>
        <subPageList>
            <subPage>list_25635</subPage>
            <subPage>list_25427</subPage>
        </subPageList>
    </feed>
    <feed update="20220611003200">
        <title>澎湃号Kindle阅读合集</title>
        <name>PengpaiUserArticlesForKindle</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiUserParser</parser>
        <enableStatus>True</enableStatus>
        <blacklist>
            <blackItem>H5</blackItem>
        </blacklist>
        <subPageList>
            <subPage>user_4556608</subPage>
            <subPage>user_5126969</subPage>
        </subPageList>
    </feed>
    <feed update="20220611020700">
        <title>澎湃号</title>
        <name>PengpaiUserArticles</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiUserParser</parser>
        <blacklist>
            <blackItem>H5</blackItem>
        </blacklist>
        <subPageList>
            <subPage>user_3454103</subPage>
            <subPage>user_5065100</subPage>
            <subPage>user_4336968</subPage>
            <subPage>user_3444367</subPage>
            <subPage>user_4852465</subPage>
            <subPage>user_5070247</subPage>
            <subPage>user_3641546</subPage>
        </subPageList>
    </feed>
    <feed update="20210809153000">
        <title>澎湃政务</title>
        <name>PengpaiGovPub</name>
        <url>https://www.thepaper.cn/</url>
        <parser>PengpaiUserParser</parser>
        <enableStatus>False</enableStatus>
        <blacklist>
            <blackItem>H5</blackItem>
        </blacklist>
        <subPageList>
            <subPage>gov_28314</subPage>
            <subPage>gov_85694</subPage>
            <subPage>gov_88428</subPage>
            <subPage>gov_27970</subPage>
        </subPageList>
    </feed>
    <feed update="20220401120000">
        <title>微信公众号</title>
        <name>WechatUserArticles</name>
        <url>https://www.wxnmh.com/</url>
        <parser>WxnmhParser</parser>
        <enableStatus>False</enableStatus>
        <subPageList>
            <subPage>user-115792</subPage>
            <subPage>user-91507</subPage>
            <subPage>user-112939</subPage>
        </subPageList>
    </feed>
    <feed update="20210802100500">
        <title>草榴新闻</title>
        <name>ClTech</name>
        <url>https://bloghz.ddns.net/j/static/caoliu/TechNews.html</url>
        <parser>ClTechParser</parser>
        <enableStatus>False</enableStatus>
    </feed>
    <feed update="20220606120502">
        <title>英为财情</title>
        <name>Investing</name>
        <url>https://feedx.net/rss/investing.xml</url>
        <parser>GeneralParser</parser>
        <proxy>http://127.0.0.1:8080</proxy>
        <keywords>
            <keyword>今日财经市场</keyword>
        </keywords>
    </feed>
    <feed update="20220611012100">
        <title>新冠疫情信息</title>
        <name>YiqingNews</name>
        <url>http://www.gov.cn/fuwu/fwtj.htm</url>
        <parser>YiqingParser</parser>
        <enableStatus>True</enableStatus>
        <keywords>
            <keyword>新型冠状病毒肺炎疫情最新情况</keyword>
            <keyword>疫情防控最新消息</keyword>
        </keywords>
    </feed>
    <feed update="20220605120000">
        <title>观察者网专栏</title>
        <name>GuanChaUserArticles</name>
        <url>https://user.guancha.cn/user/get-published-list?page_no=1&amp;uid=</url>
        <parser>GuanChaUserParser</parser>
        <subPageList>
            <subPage>794520</subPage>
        </subPageList>
    </feed>
    <feed update="20220515084545">
        <title>观察者网名人专栏</title>
        <name>GuanChaZhuanLanArticles</name>
        <url>https://www.guancha.cn/</url>
        <parser>GuanChaZhuanLanParser</parser>
        <subPageList>
            <subPage>XiJinPing</subPage>
            <subPage>WenTieJun</subPage>
            <subPage>ZhengYongNian</subPage>
            <subPage>PaulKrugman</subPage>
            <subPage>FuLangXiSi-FuShan</subPage>
        </subPageList>
        <enableStatus>True</enableStatus>
    </feed>
    <feed update="20220401002528">
        <title>网易订阅</title>
        <name>NeteaseUser</name>
        <url>https://www.163.com/dy/media/</url>
        <parser>NeteaseUserParser</parser>
        <enableStatus>False</enableStatus>
        <subPageList>
            <subPage>T1604148115540.html</subPage>
        </subPageList>
    </feed>
</feeds>